/nbproject/build-impl.xml
/nbproject/project.xml
/lib/nblibraries.properties
/build.xml
/nbproject/project.properties
/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
/nbproject/genfiles.properties